/* VARIABLES */

:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/fraunces-v23-latin-regular.woff2") format("woff2"),
    url("/fonts/fraunces-v23-latin-regular.woff") format("woff");
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/fraunces-v23-latin-900.woff2") format("woff2"),
    url("/fonts/fraunces-v23-latin-900.woff") format("woff");
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    url("/fonts/barlow-v12-latin-regular.woff") format("woff");
}

/* barlow-italic - latin */
@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/barlow-v12-latin-italic.woff2") format("woff2"),
    url("/fonts/barlow-v12-latin-italic.woff") format("woff");
}

/* GENERAL */

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fraunces", "Arial", sans-serif;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

.site-header {
  padding: 32px 0 41px 0;
}

.site-header__inner {
  /* position: relative; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__menu-btn {
  width: 16px;
  height: 15px;
  background-image: url("../images/tugma.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sitenav__list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
}
.sitenav__item {
  margin-bottom: 32px;
}
.sitenav__item {
  margin-right: 33px;
}
.sitenav__item:nth-child(3) {
  margin-right: 0px;
}

.sitenav__link {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  text-decoration: none;
}
.sitenav__link:hover {
  color: #333d4b;
}
.sitenav {
  display: none;
  padding-top: 130px;
  position: fixed;
  height: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* margin-top: 80px; */
  z-index: 1;
  background: linear-gradient(
    360deg,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 55.94%
  );
}

.site-header__open .sitenav {
  display: block;
}
.site-header__open .site-header__menu-btn {
  background-image: url("/images/x-knop.svg");
  background-repeat: no-repeat;
  z-index: 12;
}
.logo {
  z-index: 12;
}
@media only screen and (min-width: 768px) {
  .site-header {
    position: relative;
  }
  .logo__img {
    width: 236px;
    height: 26px;
  }
  .site-header__menu-btn {
    display: none;
  }

  .sitenav {
    display: block;
    padding-top: 0;
    position: none;
    margin-top: 0;
    background: none;
    position: static;
  }

  .sitenav__list {
    display: flex;
    align-items: center;
    list-style: none;
    align-items: center;
    justify-content: end;
    flex-direction: row;
  }
  .sitenav__item {
    margin-bottom: 0;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 33px;
  }

  .sitenav__link {
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
    text-decoration: none;
  }
  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__bg {
  padding: 100px 0px;
  background-image: url("/images/mobil__hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}
.hero__box {
  width: 100%;
  max-width: 279px;
  margin-left: 24px;
}
.hero__big-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #fefcf7;
}
.hero__mini-text {
  margin: 0;
  margin-bottom: 39px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero__hreft {
  padding: 15px 31px;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: #0e8784;
  border-radius: 6px;
  color: #fefcf7;
}

.hero__hreft:hover {
  background: #66d2cf;
}

.hero__hreft-box {
  width: 100%;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .hero__bg {
    background-image: url("/images/planshet-hero-logo.png");
    background-size: cover;
  }

  .hero__box {
    width: 100%;
    max-width: 329px;
    margin-right: 58px;
  }
  .hero__big-text {
    font-size: 48px;
    line-height: 48px;
    text-align: start;
    color: #fefcf7;
  }
  .hero__big-text-box {
    width: 100%;
    max-width: 493px;
  }
  .hero__mini-text-box {
    width: 100%;
    max-width: 444px;
  }
  .hero__mini-text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    text-align: start;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  .hero__hreft-box {
    margin: 0;
  }
}
@media only screen and (min-width: 1100px) {
  .hero__bg {
    background-image: url("/images/desktop-hero-logo.png");
    background-size: cover;
  }
  .hero__box {
    width: 100%;
    max-width: 493px;
  }
  .hero__big-text-box {
    width: 100%;
    max-width: 493px;
  }
  .hero__big-text {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    text-align: start;
    color: #fefcf7;
  }
  .hero__mini-text-box {
    width: 100%;
    max-width: 444px;
  }

  .hero__mini-text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

/*<----------- HEADER AND HERO END ------------>*/

.paket {
  padding-top: 205px;
  padding-bottom: 120px;
  background-image: url("/images/our-colection.svg");
  background-repeat: no-repeat;
  background-size: 375px 72px;
  background-position: calc(50%) calc(50% - 594px);
}
.paket__img {
  margin-right: auto;
  margin-left: auto;
}

.paket__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.paket__itms:not(.paket__itms:nth-child(4)) {
  margin-bottom: 48px;
}
.paket__big-text {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}
.paket__mini-text-box {
  width: 100%;
  max-width: 282px;
  margin-right: auto;
  margin-left: auto;
}
.paket__mini-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
}

@media only screen and (min-width: 768px) {
  .paket {
    background-size: 689px 118px;
    background-position: calc(50%) calc(50% - 427px);
  }

  .paket__itms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .paket__img {
    margin: 0;
    margin-right: 36px;
  }
  .paket__big-text {
    text-align: left;
  }

  .paket__mini-text {
    text-align: left;
  }
}

@media only screen and (min-width: 1100px) {
  .paket {
    padding-top: 260px;
    padding-bottom: 188px;
    background-size: 1111px 196px;
    background-position: calc(50%) calc(50% - 175px);
  }

  .paket__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .paket__itms {
    width: 100%;
    max-width: 255px;
    display: block;
    margin: 0;
    margin-right: 30px;
  }
  .paket__img {
    width: 100%;
    max-width: 255px;
    height: 193px;
  }

  .paket__big-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333d4b;
  }

  .paket__mini-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333d4b;
  }
}

/*<-------- PAGE END --------->  */

.middle__bg {
  background: #2c343e;
  padding-top: 64px;
  padding-bottom: 660px;
  border-radius: 10px;
  position: relative;
}
.middle__big-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  text-align: center;
  color: #fefcf7;
}
.middle__mini-box {
  width: 100%;
  max-width: 279px;
  margin-right: auto;
  margin-left: auto;
}
.middle__mini-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.middle__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 305px;
  right: 24px;
  left: 24px;
  bottom: 0;
}
.middle__itms {
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 72px 33px 51px 33px;
  background: #0e8784;
  border-radius: 8px;
}
.middle__itms::before {
  display: block;
  content: "";
  max-width: 71px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 56px;
  background-image: url("/images/middle-cofe.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.middle__itms:nth-child(2) {
  padding: 72px 12px 51px 12px;
}
.middle__itms:nth-child(3)::before {
  background-image: url("/images/middle-moshin.svg");
}
.middle__itms:nth-child(3) {
  padding: 83px 12px 51px 12px;
}

.middle__itms:nth-child(2)::before {
  background-image: url("/images/middle-prize.svg");
}

.middle__itms-big-text {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.middle__itms-box {
  width: 100%;
  max-width: 212px;
  margin-right: auto;
  margin-left: auto;
}
.middle__itms-mini-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}

@media only screen and (min-width: 768px) {
  .middle__bg {
    padding: 0;
    padding-top: 71px;
    padding-bottom: 363px;
  }
  .middle__big-text {
    font-size: 32px;
    line-height: 48px;
  }
  .middle__mini-box {
    max-width: 540px;
  }
  .middle__mini-text {
    font-size: 15px;
    line-height: 25px;
  }

  .middle__list {
    top: 278px;
  }
  .middle__itms {
    width: 100%;
    max-width: 573px;
    padding: 0;
    padding: 41px 48px 41px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .middle__itms::before {
    margin: 0;
    margin-right: 55px;
    width: 100%;
  }
  .middle__itms-big-text {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  .middle__itms-box {
    width: 100%;
    max-width: 344px;
  }
  .middle__itms-mini-text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}
@media only screen and (min-width: 1100px) {
  .middle__bg {
    padding: 0;
    padding-top: 110px;
    padding-bottom: 286px;
  }

  .middle__big-text {
    font-size: 40px;
    line-height: 48px;
  }

  .middle__mini-text {
    font-size: 16px;
    line-height: 26px;
  }

  .middle__list {
    position: relative;
    display: flex;
    width: 975px;
    top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  .middle__itms:nth-child(2) {
    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
    left: 330px;
  }
  .middle__itms:nth-child(3) {
    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
    left: 660px;
  }
  .middle__itms {
    display: block;
    position: absolute;
    max-width: 310px;
    margin: 0;

    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
  }
  .middle__itms::before {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 56px;
  }
  .middle__big-box {
    margin-right: auto;
    margin-left: auto;
  }

  .middle__itms-big-text {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  .middle__itms-box {
    width: 100%;
    max-width: 255px;
  }
  .middle__itms-mini-text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}

/*<----------MIDDLE END------------>  */
.last {
  padding-top: 680px;
  padding-bottom: 120px;
}

.last__big-text {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888f;
}
.last__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.last__itms {
  margin-bottom: 56px;
}

.last__itms::before {
  content: "";
  display: block;
  width: 90px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  background-image: url("/images/01.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.last__itms:nth-child(2)::before {
  background-image: url("/images/02.svg");
}
.last__itms:nth-child(3)::before {
  background-image: url("/images/03.svg");
}
.last__itms:nth-child(3) {
  margin-bottom: 79px;
}
.last__itms-big-text {
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}
.last__itms-big-mini-box {
  max-width: 327px;
  margin-right: auto;
  margin-left: auto;
}
.last__itms-big-mini-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
}
.last__hreft-box {
  width: 217px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 31px;
  background: #0e8784;
  border-radius: 6px;
}

.last__hreft-box:hover {
  background: #66d2cf;
}

.last__hreft {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .last {
    padding-top: 435px;
    padding-bottom: 144px;
  }

  .last__big-text {
    text-align: left;
  }
  .last__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  .last__list::before {
    position: absolute;
    top: -76px;
    left: 4px;

    content: "";
    display: block;
    width: 498px;
    height: 31px;
    background-image: url("/images/ciziq.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .last__itms {
    width: 100%;
    max-width: 223px;
    margin-right: 15px;
  }
  .last__itms::before {
    margin-left: 0;
  }

  .last__itms-big-text-box {
    width: 100%;
    max-width: 223px;
  }
  .last__itms-big-text {
    text-align: left;
  }
  .last__itms-big-mini-box {
    max-width: 223px;
  }
  .last__itms-big-mini-text {
    text-align: left;
    font-size: 15px;
    line-height: 25px;
  }
  .last__hreft-box {
    margin-left: 0;
  }
  .last__laptob {
    max-width: 715px;
  }
}
@media screen and (min-width: 1100px) {
  .last {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  .last__big-text {
    margin-bottom: 178px;
  }
  .last__laptob {
    max-width: 1050px;
  }

  .last__list::before {
    width: 700px;
    height: 31px;
    background-image: url("/images/last-uzin-ciziq.svg");
    background-size: contain;
  }

  .last__itms {
    max-width: 285px;
    margin-bottom: 79px;
  }

  .last__itms:not(:nth-child(3)) {
    margin-right: 95px;
  }
  .last__itms-big-text-box {
    max-width: 255px;
  }
  .last__itms-big-text {
    font-size: 32px;
    line-height: 36px;
  }
  .last__itms-big-mini-box {
    max-width: 285px;
  }
  .last__itms-big-mini-text {
    font-size: 16px;
    line-height: 26px;
  }
  .last__hreft-box {
    min-width: 217px;
  }
  .last__hreft {
    font-size: 18px;
    line-height: 25px;
  }
}

/* <---------LAST END----------> */

.foot__bg {
  background: #2c343e;
  padding: 54px 0;
}

.foot__img-logo {
  max-width: 217px;
  margin-right: auto;
  margin-left: auto;
}

.foot__nav-list {
  width: 100%;
  max-width: 212px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.foot__nav-itms {
  margin-top: 24px;
}
.foot__hreft {
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.foot__hreft:hover {
  color: #fefcf7;
}

.foot__icon-list {
  display: flex;
  max-width: 120px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.foot__icon-itms {
  margin-right: 24px;
}
.foot__icon-hreft svg {
  color: #fefcf7;
}
.foot__icon-hreft:hover svg {
  color: #fdd6ba;
}

@media screen and (min-width: 768px) {
  .foot__img-logo {
    min-width: 236px;
  }
  .last__centr {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .foot__nav-list {
    width: 100%;
    max-width: 285px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 65px;
  }
  .foot__nav-itms {
    margin: 0;
    margin-right: 20px;
  }
  .foot__nav-itms:nth-child(4) {
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .foot__bg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 47px;
    padding-bottom: 48px;
  }

  .foot__img-logo {
    min-width: 203px;
    margin-left: 85px;
  }

  .foot__nav-list {
    margin: 0;
    margin-left: 103px;
  }

  .foot__icon-list {
    margin: 0;
    margin-right: 85px;
    margin-left: auto;
  }
}

/* <-----------ABOUT------------> */

.about__bg {
  background-image: url("/images/qora-kofee-tell.png");
}

@media screen and (min-width: 768px) {
  .about__bg {
    background-image: url("/images/qora-kofee-.tabletpng.png");
  }
}
@media screen and (min-width: 1100px) {
  .about__bg {
    background-image: url("/images/qora-kofee-about.png");
  }
}

.commitment {
  padding: 120px 0 198px 0;
}

.commitment-img {
  max-width: 327px;
  height: 400px;
  margin: 0 auto;
}
.commitment-big-text {
  margin: 0;
  margin: 48px auto 30px auto;

  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #333d4b;
}

.commitment-mini-box {
  max-width: 327px;
  margin: 0 auto;
}
.commitment-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .commitment {
    padding: 144px 0 330px 0;
  }
  .commitment-box {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .commitment-img {
    max-width: 281px;
    height: 470px;
    margin: 0;
    margin-right: 68px;
  }
  .commitment-big-text {
    margin-top: 0;
  }
  .commitment-mini-box {
    max-width: 339px;
  }
  .commitment-text {
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .commitment-box {
    align-items: center;
  }
  .commitment-img {
    max-width: 445px;
    height: 520px;
    margin-right: 125px;
  }
  .commitment-big-text {
    text-align: left;
  }
  .commitment-mini-box {
    max-width: 540px;
  }
}

/* <-------commitment END ------> */

.our {
  position: relative;
  padding: 142px 0 61px 0;
  background: #2c343e;
  border-radius: 10px;
}

.our__img {
  display: block;
  margin: 0 auto;
  max-width: 279px;
  height: 156px;
  position: absolute;
  top: -87px;
  left: 0;
  right: 0;
}
.our__img-twoo {
  display: none;
}
.our__img-three {
  display: none;
}
.our__bix-text {
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #fefcf7;
}
.our__mini-text-box {
  max-width: 279px;
  margin: 0 auto;
}
.our__mini-text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .our {
    padding-top: 224px;
    padding-bottom: 67px;
  }
  .our__img {
    display: none;
  }
  .our__img-twoo {
    display: block;
    max-width: 573px;
    height: 320px;
    margin: 0 auto;
    position: absolute;
    top: -185px;
    left: 0;
    right: 0;
  }
  .our__mini-text-box {
    max-width: 540px;
  }
}
@media screen and (min-width: 1100px) {
  .our {
    padding: 100px 0 167px 0;
  }

  .our__box {
    display: flex;
  }
  .our__img {
    display: none;
  }
  .our__img-twoo {
    display: none;
  }
  .our__img-three {
    display: block;
    max-width: 445px;
    height: 474px;
    margin: 0 auto;
    position: absolute;
    top: -85px;
    left: calc(50% + -45px);
    right: 0;
  }
  .our__bix-text {
    text-align: left;
  }

  .our__mini-text {
    text-align: left;
  }
}

/* <--------OUR END---------> */

.adres {
  padding: 120px 0;
}

.adres__big-tex {
  margin: 0;
  margin-bottom: 72px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888f;
}

.adres__itms {
  margin-bottom: 80px;
}
.adres__itms::before {
  margin: 0 auto;
  margin-bottom: 47px;
  content: "";
  display: block;
  width: 40px;
  height: 49px;
  background-image: url("/images/our-one.svg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
.adres__itms:nth-child(2)::before {
  width: 51px;

  background-image: url("/images/our-twoo.svg");
}
.adres__itms:nth-child(3)::before {
  width: 48px;
  height: 43px;
  background-image: url("/images/our-three.svg");
}

.adres__itms-big-text {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  text-align: center;

  color: #333d4b;
}
.adres__adrestag {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}
.adres__hreft {
  text-decoration: none;

  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #333d4b;
}

@media screen and (min-width: 768px) {
  .adres {
    padding: 144px 0;
  }

  .adres__big-tex {
    text-align: left;
  }
  .adres__list {
    display: flex;
  }
  .adres__itms {
    width: 223px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .adres__itms::before {
    margin-left: 0;
  }
  .adres__itms-big-text {
    text-align: left;
    font-size: 24px;
  }
  .adres__adrestag {
    text-align: left;
  }
  .adres__hreft {
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .adres {
    padding: 168px 0;
  }

  .adres__itms {
    width: 285px;
    margin-right: 0;
  }
  .adres__itms:nth-child(2) {
    margin-left: 108px;
    margin-right: 125px;
  }

  .adres__itms-big-text {
    font-size: 32px;
  }
}

/* <---------------------------------------ABOUT END-------------------------------------------------> */

.create__bg {
  background-image: url("/images/create-tell-bg.png");
}

@media screen and (min-width: 768px) {
  .create__bg {
    background-image: url("/images/create-tablet-bg.png");
  }
}
@media screen and (min-width: 1100px) {
  .create__bg {
    background-image: url("/images/create-desktop-bg.png");
  }
}

.choose {
  margin: 120px 0;
  padding: 80px 0;
  background: #2c343e;
  border-radius: 10px;
}

.create__text-color {
  color: #ffffff;
}
.create__box {
  max-width: 327px;
}
@media screen and (min-width: 768px) {
  .choose {
    margin: 144px 0;
    padding: 176px 0 40px 0;
  }

  .create__itms::before {
    left: 7px;
    background-image: url("/images/tablet-create.svg");
  }
}

@media screen and (min-width: 1100px) {
  .choose {
    margin: 168px 0;
    padding: 198px 0 100px 0;
  }
  .create__box {
    max-width: 285px;
  }
  .create__itms::before {
    width: 695px;
    background-image: url("/images/desktop-create.svg");
  }
}

/* <-----------------------------------------------------------------------------------------> */
.faq__left-list {
  display: none;
}
.faq {
  padding-bottom: 120px;
}

.faq__summry {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.faq__summry__box {
  width: 240px;
  margin-right: auto;
}
.faq__summry__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #83888f;
}
.faq__svg {
  margin-right: 5px;
}
.faq__details .faq__summry .faq__svg {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.faq__details[open] .faq__summry .faq__svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.box__label {
  margin-bottom: 92px;
}

input:checked ~ .faq__itms-mini {
  background-color: #0a775f;
}
input:checked ~ .faq__itms-mini .faq__itms-big-text {
  color: #fff;
}
input:checked ~ .faq__itms-mini .faq__itms-mini-text {
  color: #fff;
}

.faq__itms-mini {
  display: inline-block;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 16px;
  padding: 24px 25px;
  background: #f4f1eb;
  border-radius: 8px;
}
.faq__itms-big-text {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.faq__itms-mini-text-box {
  width: 278px;
}
.faq__itms-mini-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.faq__form-black {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 56px;
  padding: 32px 24px;
  background: #2c343e;
  border-radius: 10px;
}
.faq__form__black-mini-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.faq__form-black-big-text {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
.color {
  color: #0e8784;
}
.faq__button-box {
  width: 225px;
  margin-right: auto;
  margin-left: auto;
}
.faq__button {
  margin: 0 auto;
  padding: 15px 35px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border-radius: 6px;
  border: none;
  background: transparent;
  background: #0e8784;
}

@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 144px;
  }

  .faq__summry__box {
    width: 507px;
  }

  .faq__itms-mini {
    width: 224px;
    padding: 32px 25px 84px 25px;
  }
  .faq__itms-big-text {
    margin-bottom: 24px;
  }
  .faq__marg {
    margin-right: 0;
  }
}

@media screen and (min-width: 1100px) {
  .faq__flex {
    display: flex;
    align-items: start;
  }
  .faq__left-list {
    display: block;
    margin-left: 69px;
    margin-right: 68px;
  }
  .faq__details {
    margin-bottom: 77px;
  }
  .faq__left-itms {
    padding: 24px 0;
    width: 220px;
    border-bottom: 1px solid #000;
  }
  .faq__left-itms:nth-child(1) {
    padding-top: 0;
  }
  .faq__left-hreft {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    text-decoration: none;
  }
  .faq__form-black {
    max-width: 730px;
  }
  .faq__button-box {
    margin-right: 0;
  }

  .color-one {
    color: #0e8784;
    margin-right: 15px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #00000080;
  display: none;
}
.modal-show {
  display: block;
}

.modal__option {
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 3;
  padding-bottom: 56px;
  background: #fff;
  border-radius: 8px;
}
.modal__hero {
  padding: 48px 0 40px 56px;
  background: #2c343e;
}
.modal__big-text {
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.modal__box {
  padding-left: 20px;
  padding-top: 57px;
}
.faq__form-black-big-text-twoo {
  color: #83888f;
}

.modal__mini-box {
  max-width: 428px;
  margin-top: 7px;
  margin-bottom: 47px;
  padding-left: 20px;
}
.modal__mini-text {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
}
.modal__botton-box {
  padding-left: 20px;
}
.modal__mini-dollor {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.modal__button {
  margin-left: 19px;
  padding: 15px 64px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: transparent;
  background: #0e8784;
  border-radius: 6px;
  color: #fefcf7;
  border: none;
}
.modal__button-twoo {
  display: none;
  margin-left: 19px;
  padding: 15px 64px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: transparent;
  background: #0e8784;
  border-radius: 6px;
  color: #fefcf7;
  border: none;
}
@media screen and (max-width: 768px) {
  .modal__option {
    max-width: 327px;
    top: 10px;
  }
  .modal__hero {
    padding: 20px 0 28px 24px;
    background: #2c343e;
  }
  .modal__big-text {
    font-size: 28px;
    line-height: 32px;
  }
  .modal__box {
    padding-top: 10px;
    max-width: 280px;
  }
  .modal__mini-box {
    max-width: 280px;
    margin-bottom: 20px;
  }
  .modal__mini-box {
    margin-bottom: 24px;
  }
  .faq__form-black-big-text-twoo {
    line-height: 35px;
  }
  .modal__button-twoo {
    display: block;
    padding: 14px 34px;
  }

  .modal__botton-box {
    display: none;
  }
}
/* <-----------------------------------------------------------------------------------------> */
